{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Тест</title>
		<link rel="stylesheet" href="{% static 'css/test_style.css' %}">
		<link rel="icon" href="{% static 'image/favicon.ico' %}">
        <script src="{% static 'js/test_scripts.js' %}"></script>
	</head>
	<body>
		<div id="global-container">
            {% if question.image %}                                   
			    <div id="image-area"><img src="{{ question.image.url }}"></div>
            {% else %}
            {% endif %}
			<ul class="container">
				<li id="question-area">
                    {% if question.qtype == 'single' %}
                        <form id="form"  action="{% url 'posts:grade_question' quiz.id question.id %}" method="post">
                                <p id="question" class="question">{{ question }}</p>
                                {% csrf_token %}
                                {% for answer in question.answer_set.all %}           
                                    <label>
                                        <input class="answer" type="radio" name="answer" value="{{ answer.id }}" onchange="checkRadiobox()">
                                        <p class="text">{{ answer.name }}</p>
                                    </label>
                                {% endfor %}
                        </form>
                    {% else %}     
                        <form id="form" action="{% url 'posts:grade_question' quiz.id question.id %}" method="post">
                            <p id="question" class="question">{{ question }}</p>
                            {% csrf_token %}
                            {% for answer in question.answer_set.all %}
                                <label>
                                    <input class="answer" type="checkbox" name="answer" value="{{ answer.id }}" onchange="checkCheckbox()">
                                    <p class="text">{{ answer.name }}</p>
                                </label>
                            {% endfor %}
                        </form>
                    {% endif %}
                    
				</li>
				<li>
					<div class="subcontainer">
						<a id="prev-page" class="sub-area" href="javascript:history.back()">Предыдущий вопрос</a>
                        {% if next_question %}
						    <a id="next-page" class="sub-area" href="{% url 'posts:display_question' quiz.id next_question.id %}">Следующий вопрос</a>
                        {% else %}
                            <a id="next-page" class="sub-area" href="{% url 'posts:quiz_results' quiz.id %}">Это последний вопрос теста. После ответа нажмите кнопку</a>
                        {% endif %}
                        <input id="submit-form" class="sub-area submit" type="submit" form="form" placeholder="Ответить" onclick="showAndTimeoutResult()">
                        <div id="result" class="sub-area"><p id="question-feedback"></p></div>
                    </div>
				</li>
			</ul>
		</div>
	</body>
    <script>
        const form = document.getElementById("form");
        form.addEventListener("submit", (e) => {
            e.preventDefault();
            fetch(form.action, {method:'post', body: new FormData(form)})
                .then((response) => response.text())
                .then(text => {
                    document.getElementById("question-feedback").innerHTML = text;
                });
        });
    </script>
</html>